{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-offset-3 col-md-6" style="margin-top: 60px">
        {{ form_start(form) }}
        <h2>Insert <strong>Model</strong></h2>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Model name:</label>
                    {{ form_widget(form.name,  {'label': ' ', 'attr': {'class': 'form-control', 'placeholder': 'Brand name..'}}) }}
                </div>
                <div class="col-md-12">
                    <label>Model name:</label>
                    {{ form_widget(form.brandId,  {'label': ' ', 'attr': {'class': 'form-control'}}) }}
                </div>
                {% for message in app.flashes('success') %}
                    <div class="flash-notice alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if form_errors(form.name) | length %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.name) }}
                    </div>
                {% endif %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Insert" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}